/* Reset css  */

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}


/* -------header------ */



.header_img{
    width: 150px;
    border-radius: 50%;
    margin-bottom: 100px;
}

.profile-image{
    text-align: center;
}

.main-menu{
    text-align: center;
}

header{
    position: fixed;
    background-color: rgba(189,93,56,255);
    width: 270px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
ul{
    margin-bottom: 30px;
}

.main-menu a{
    text-decoration: none;
    color: rgba(222,174,156,255);
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    line-height: 50px;
}

.main-menu a:hover{
    color: #fff;
}





/* ----------------main----------------- */
main{
    width: 70%;
    margin-left: 23%;
}
.address{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}
h1{
    font-size: 70px;
    padding-top: 230px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span{
    color: rgba(189,93,56,255);
}

.introduce{
    font-size: 20px;
    margin-bottom: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

i{
    font-size: 55px;
    margin-right: 50px;
    color: rgb(59, 58, 58);
}
i:hover{
    color: rgba(189,93,56,255);

}

.container{
    padding-bottom: 170px;
    border-bottom: 1px solid black;
}
/* -----------------education------------- */
h2{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: rgb(72, 145, 227);
}

#education{
    display: flex;
    justify-content: space-between;
}
#education div{
    margin-top: 50px;
}

#education div img{
    width: 200px;
    margin-right: 50px;
}

h3{
    font-size: 25px;
    margin-bottom: 20px;
}

h4{
    font-size: 20px;
    margin-bottom: 10px;
}
#education div p{
    font-size: 20px;
}


/* -----------------skill------------- */
.progress-container {
    width: 100%;
    margin-top: 50px;
  }
  
  .progress-text {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .progress-text span {
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;

  }
  
  .progress-bar {
    flex-grow: 1;
    background-color: #f2f2f2;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 30px;
  }
  
  .progress {
    height: 20px;
    background-color: #4caf50;
    width: 0;
    transition: width 0.6s ease;
  }
  
  
